<footer class="block">
  <div class="footer container">
    <div class="footer__line footer__line">
      <div class="footer__item footer__item--top footer__item--1">
        <a href="" class="btn btn--yellow" data-form="winner">Повторить попытку</a>
      </div>
      <div class="footer__item footer__item--top footer__item--3">
        <p class="footer__text footer__copyright">
          Casino Royale Yurkovskaya
          
          2018

        </p>
      </div>
      <div class="footer__item footer__item--top footer__item--2">
        <a href="" class="btn btn--rounded-yellow" data-form="stil-nothing">Играть еще!</a>
      </div>
    </div>
  </div>
</footer>