<footer class="block">
  <div class="footer container">
    <p class="footer__text">
      P.S. Завтра в розыграше - новые призы,
      проверяйте почту ежедневно!
    </p>
    <div class="footer__line">
      <div class="footer__item footer__item--1">
        <a href="" class="btn btn--main" data-form="nothing">Повторить попытку</a>
      </div>
      <div class="footer__item footer__item--3">
        //= social.html

      </div>
      <div class="footer__item footer__item--2">
        <a href="" class="btn" data-form="still-nothing">Играть еще!</a>
      </div>
    </div>
  </div>
</footer>