<section class="feedback">
  <h2 class="feedback__title">
    Забрать приз!
  </h2>
  <p class="feedback__description">
    Чтобы забрать вашу скидку, заполните, пожалуйста поля,
    и оплатите семинар.
  </p>
  <form action="" class="form">
    <form action="" class="form">
    <div class="form__group">
      <input type="text" class="form__input form__field" name="name" autocomplete="off" placeholder="ФИО">
      <span class="form__warn">Введите Имя Фамилию и Отчество</span>
    </div>
      <div class="form__group">
      <input type="email" class="form__input form__field" name="mail" autocomplete="off" placeholder="Email">
      <span class="form__warn">Пожалуйста введите Ваш E-Mail</span>
    </div>
    <div class="form__group">
      <input type="text" class="form__input form__field" name="city" autocomplete="off" placeholder="Город">
      <span class="form__warn">Укажите Ваш город</span>
    </div>
    <p class="form__cost italic ">
        <i class="top-block__accent">Стоимость семинара вместе со скидкой</i>
        всего <i class="throught"> 300</i>  <i class="accent"> 125 у.е!</i>
    </p>
    <div class="form__btns">
      <button class="btn btn--grey form__btn">Играть еще</button>
      <button class="btn btn--main form__btn" type="submit">Отправить</button>
    </div>
  </form>
</section>