<div class="social">
  <span class="social__title italic">
    Рассказать друзьям
  </span>
  <div class="social__list">
    <a href="" class="social__link" title="google" target="_blank">
      <img src="../img/google-plus-logo-button.png" alt="google" class="social__icon">
    </a>
    <a href="" class="social__link" title="facebook" target="_blank">
      <img src="../img/facebook-logo-button.png" alt="facebook" class="social__icon">
    </a>
    <a href="" class="social__link" title="twitter" target="_blank">
      <img src="../img/twitter-logo-button.png" alt="twitter" class="social__icon">
    </a>
    <a href="" class="social__link" title="instagram" target="_blank">
      <img src="../img/instagram-logo.png" alt="instagram" class="social__icon">
    </a>
    <a href="" class="social__link" title="youtube" target="_blank">
      <img src="../img/youtube-symbol.png" alt="youtube" class="social__icon">
    </a>
  </div>
</div>