<section class="block">
  <div class="top-block">
    <div class="container">
      <div class="top-block__content">
        <h1 class="h1">
          5 Дней с <strong class="strongest">Casino Royal</strong> <i class="italic">Yurkovskaya!</i>
        </h1>
        <p class="top-block__desc">
          <strong class="top-block__accent strong accent">Каждый день - </strong>
          Новая возможность получить разные <strong class="strong accent">подарки,</strong> <strong class="accent">скидки</strong>
          и волшебные предсказания :)!
        </p>
        <p class="top-block__ps">
          <i class="italic through top-block__accent strong">На что ставите - на красное или на черное? Крутите рулетку!</i>
          Я хотела сказать, жмите на кнопку! Одно нажание - одна игра.
          Чтобы получить выигрыш, соберите 3 картинки в ряд.
        </p>
      </div>
    </div>
  </div>
</section>