<section class="block">
  <div class="top-block top-block--nothing top-block--nothing-1">
    <div class="container">
      <div class="top-block__content">
        <div class="menu-icon">
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line"></span>
        </div>

        <h2 class="seo seo__h2 seo__h2--small">
          Cегодня вы ничего не выиграли.
        </h2>
        <div class="rounded-block rounded-block--img">
          <img src="../img/nothing-card.png" alt="" class="rounded-block__img">
          <p class="top-block__desc top-block__desc--small">Количество попыток на сегодня закончилось.
Но не отчаивайтесь!</p>
          <i class="italic top-block__accent">Попробуйте завтра ещё —</i>
          <i class="italic accent">и Вам улыбнется удача.</i>
        </div>
      </div>
    </div>
  </div>
</section>