<section class="block">
  <div class="top-block top-block--win">
    <div class="container">
      <div class="top-block__content">
        <div class="menu-icon">
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line"></span>
        </div>

        <h2 class="seo seo__h2">
          Поздравляем!
        </h2>
        <p class="seo seo__add">Вы виграли <strong class="accent">Cкидку!</strong></p>
        <div class="rounded-block">
          <p class="top-block__desc"><strong class="top-block__accent strong accent">Скидка 90% </strong></p>
          <i class="italic top-block__accent">На посещение Семинара</i>
          <i class="italic accent">“Как находить новых друзей”</i>
        </div>
        <a href="" class="btn btn--large btn--transparent">Забрать приз</a>
      </div>
    </div>
  </div>
</section>