@font-face {
	font-family: "Noto-Serif";
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}